@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates&display=swap');
html {
  margin: 0;
  width: 100vw;
}
body {
  margin: 0;
  width: 100%;
  background-color: #96d1cf;
  font-family: "montserrat";
}

.header {
  width: 100%;
  height: 120px;
  overflow: hidden;
}

.navbar {
  background-color: #5eb7b7;
  overflow: hidden;
  padding: 0px;
}

.nav {
  padding: 5px 15px;
}

nav {
  color: white;
  font-size: 24px;
}

nav ul {
  list-style: none;
  width: 100%;
}

nav li {
  display: inline;
  width: 125px;
}

nav a:active {
  text-decoration: none;
}
nav a:link {
  text-decoration: none;
}
nav a {
  text-decoration: none;
  color: #ffafb0;
}

form {
  margin: auto;
  width: 400px;
}
