{% extends 'template.html' %}

{% block title %}Home{% endblock %}

{% block views %}
{% load static %}
{% if user.is_authenticated %}
  <p>Hi {{ user.username }}!
  {% if user.skills %}
  <p>Tutor {{ user.skills }}!</p>
  {% else %} Tutee!
  {% endif %}
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login tutor</a>
  <p>Don't have an account yet?</p>
  <a href="{% url 'login' %}/../../signup">signup tutor</a>
{% endif %}
{% endblock %}
