{% extends 'template.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block views %}
<form method="post">
  {% csrf_token %}
  {% for fields in form %}
    {{ fields.errors }}
    <div>
      {{ fields.label_tag }} <br> {{ fields }}
    </div>
  {% endfor %}
  <button type="submit">Log in</button>
</form>
{% endblock %}
