{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link href="{% static 'css/template.css' %}" type='text/css' rel='stylesheet'>
  {% block specific_style %}
  {% endblock specific_style %}
{% endblock style %}

{% block content %}
  <nav class="navbar navbar-default">
    <div class="navbar header">
      <img src="{% static 'image 2.png' %}">
    </div>
    <div class="container-fluid">
      <ul class="nav navbar-nav" style="flex-direction: row">
        <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
        <li><a href="{% url 'login' %}">Log in</a></li>
        <li><a href="{% url 'carijadwal:home' %}">Cari Jadwal</a></li>
        <li><a href="{% url 'carijadwal:lihatjadwal' %}">Lihat Jadwal</a></li>
        <li><a href="{% url 'buat_jadwal:buat' %}">Buat Jadwal</a></li>
      </ul>
    </div>
  </nav>
  {% block views %}
  {% endblock views %}
{% endblock content %}
