{% extends "template.html"%}

{% block views %}
<h1 style="text-align:center; padding:5%;"> Cari Jadwal </h1>
<form action="{% url 'carijadwal:search_results' %}" method="get">
	<!-- Search form -->
	<div class="active-purple-3 active-purple-4 mb-4">
	  <input name = "q1" class="form-control" type="text" placeholder="Cari jadwal berdasarkan matkul" aria-label="Search">
	</div>
	<!-- Search form -->
	<div class="active-cyan-3 active-cyan-4 mb-4">
	  <input name = "q2" class="form-control" type="text" placeholder="Cari jadwal berdasarkan hari" aria-label="Search">
	</div>
	<button type="submit" class="btn btn-primary">Cari jadwal</button>
</form>
<div>
{% endblock views %}

