{% extends 'base.html' %}

{% block content %}
{% if invalid_user %}
  <h1>You haven't log in yet</h1>
{% endif %}
<form method='POST' action='{% url 'buat_jadwal:buat' %}'>
  {% csrf_token %}
  {% for fields in form %}
      <div>
      {{ fields.errors }}
      </div>
      <div style="margin: 5px">
      {{ fields.label_tag }}<br>
      {{ fields }}
      </div>
    {% endfor %}
    <input class='submit-button' type='submit'>
</form>
{% endblock content %}
