{% extends 'base.html' %}

{% block content %}
  {% for jadwal in jadwals %}
    <p>{{ jadwal.hari }}</p>
    <p>{{ jadwal.jam_mulai }}</p>
    <p>{{ jadwal.jam_selesai }}</p>
  {% endfor %}
{% endblock content %}
